<div class="card my-3">
  <div class="card-body">
    <div class="card-title">{{ book?.title }}</div>
    <div class="card-text">
      <div class="card-input">
        <span class="fw-bold">Author: </span>
        <span>{{ book?.author }}</span>
      </div>
      <div class="card-input">
        <span class="fw-bold">Year: </span>
        <span>{{ book?.year }}</span>
      </div>
      <div class="card-input">
        <span class="fw-bold">ISBN: </span>
        <span>{{ book?.isbn }}</span>
      </div>
      <div class="card-input">
        <span class="fw-bold">Genre: </span>
        <span>{{ book?.genre }}</span>
      </div>
      <div class="card-input">
        <span class="fw-bold">Availability: </span>
        <span>{{ book?.available }}</span>
      </div>
      <div class="card-input d-flex justify-content-end">
        <button
          type="button"
          class="btn-secondary btn btn-sm rounded"
          *ngIf="edit"
        >
          Edit
        </button>
        <button type="button" class="btn-primary btn btn-sm rounded">
          {{ book?.available ? "Remove" : "Add" }}
        </button>
      </div>
    </div>
  </div>
</div>
