<div class="w-50 mx-auto">
  <form [formGroup]="signupGroup" class="my-5">
    <div class="mb-2">
      <label for="nameInput">Name:</label>
      <input
        type="text"
        id="nameInput"
        formControlName="name"
        class="form-control"
      />
    </div>
    <div class="mb-2">
      <label for="surnameInput">Surname:</label>
      <input
        type="text"
        id="surnameInput"
        formControlName="surname"
        class="form-control"
      />
    </div>
    <div class="mb-2">
      <label for="emailInput">Email:</label>
      <input
        type="email"
        id="emailInput"
        formControlName="email"
        class="form-control"
      />
    </div>
    <div class="mb-2">
      <label for="passwordInput">Password:</label>
      <input
        type="password"
        id="passwordInput"
        formControlName="password"
        class="form-control"
      />
    </div>
    <div class="my-4">
      <select class="custom-select border border-gray" formControlName="gender">
        <option disabled selected>Select gender</option>
        <option *ngFor="let genderValue of genders" [value]="genderValue">
          {{ genderValue }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-danger" (click)="onSubmit()">
      Sign up
    </button>
  </form>
  <div class="login_link_wrapper">
    <a routerLink="/login" class="login_redirection"
      >Already have an account?Log in.</a
    >
  </div>
</div>
<div *ngIf="signupGroup.get('email')?.errors?.doesNotMatch">Sorry</div>
