<div class="create-book-container">
  <form [formGroup]="createBookForm">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title" />
    </div>
    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" formControlName="author" />
    </div>
    <div class="form-group">
      <label>Genre</label>
      <input type="text" class="form-control" formControlName="genre" />
    </div>
    <div class="form-group">
      <label>Isbn</label>
      <input type="text" class="form-control" formControlName="isbn" />
    </div>
    <div class="form-group">
      <label>Pages</label>
      <input type="text" class="form-control" formControlName="pages" />
    </div>
    <button type="button class=" btn btn-sm (click)="(showTitle)">
      Submit
    </button>
  </form>
</div>

<!--<div class="my-library-container">
  <div class="book my-2" ngFor="let book of myLibrary">
    <span>{{ book.title }}</span>
    <span>{{ book.author }}</span>
    <span>{{book.genre}</span>
    <span>{{ book.isbn }}</span>
  </div>
</div>-->
