<div class="w-50 mx-auto">
  <form class="my-5" [formGroup]="authorFormGroup">
    <div class="mb-2">
      <label for="nameInput">Name:</label>
      <input
        type="text"
        id="nameInput"
        class="form-control"
        formControlName="name"
      />
    </div>
    <div class="mb-2">
      <label for="surnameInput">Surname:</label>
      <input
        type="text"
        id="surnameInput"
        class="form-control"
        formControlName="surname"
      />
    </div>
    <div class="mb-2">
      <label for="bookNumberInput">Number of books:</label>
      <input
        type="number"
        id="bookNumberInput"
        min="1"
        class="form-control"
        formControlName="booksNumber"
      />
    </div>
    <div class="mb-2">
      <ng-container
        formArrayName="titles"
        *ngFor="let title of titles.controls; let i = index"
      >
        <label for="titleInput">Book title {{ i + 1 }}:</label>
        <input
          type="text"
          id="titleInput"
          class="form-control"
          [formControlName]="i"
        />
      </ng-container>
      <button class="btn btn-outline-danger my-2" (click)="addAuthor()">
        Add book title
      </button>
    </div>
    <button type="submit" class="btn btn-danger" (click)="onSubmit()">
      Add author
    </button>
  </form>
</div>
